#gameOverScreen {
    display: none;
    background-image: url(../img/SeaChart.png);
    background-position: bottom right;
    background-size: cover;
    justify-content: flex-start;
}

#gameOverScreen h1, #gameOverScreen h2, #gameOverScreen p {
    color: var(--guiDark);
    text-align: center;
}

#gameOverScreen h1 {
    margin-bottom: 15px;
    margin-top: 15px;
}

#finalScoreCard {
    align-items: center;
    background-color: var(--guiAccent);
    box-shadow: 0px 0px 10px 0px #000000b2;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    outline-style: solid;
    outline-width: 0.4em;
    outline-offset: -0.4em;
    outline-color: var(--guiAccent);
    position: relative;
    width: 60vw;
}

#finalScoreCard:before {
    border-style: dashed;
    border-width: 0.4em;
    border-color: var(--guiDark);
    bottom: 0;
    box-shadow: 0px 0px 30px 0px #5e591280 inset;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#finalScoreCard h2, #finalScoreCard p {
    margin: 10px 0;    
}

#finalScoreCard h2 {
    font-size: 3rem;
}

#finalScoreCard p {
    font-size: 6rem;
}