/* COLORS */
:root {
    --guiAccent: #f4c15a;
    --guiBlue: #1476a1;
    --guiDark: #242331;
    --guiLight: #eff5f7;
    --guiLightAccent: #14deca;
    --oceanDark: #1476a1; 
    --oceanLight: #92cedd;

    --fontSerif: 'Merriweather', serif;
    --fontSans: 'Roboto', sans-serif;
}

/* MAIN ELEMENTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background: radial-gradient(92.53% 92.53% at 50.07% 0%, var(--oceanLight) 0%, var(--oceanDark) 100%);
    height: 100%;
    overflow: hidden;
}

.screen {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* UTILITY CLASSES */
.centered {
    align-items: center;
    justify-content: center;
}

.padded {
    padding: 30px;
}

.hidden {
    display: none !important;
}

/* GUI ELEMENTS */
input {
    background-color: var(--guiLight);
    border: none;
    color: var(--guiDark);
    font-family: var(--fontSans);
    font-size: 2.5rem;
    opacity: 65%;
    text-align: center;
}

input:focus {
    opacity: 85%;
}

input.error {
    background-color: palevioletred;
    border-color: crimson;
    border-style: solid;
    border-width: thick;
}

button {
    background-color: var(--guiLight);
    border-width: 0.4em;
    border-color: var(--oceanDark);
    border-style: dashed;
    box-shadow: 5px 5px 5px black;
    color: var(--guiDark);
    font-family: var(--fontSerif);
    font-size: 4em;
}

button:not(.disabled):active {
    background-color: var(--guiAccent);
    border-color: var(--guiLight);
}

.disabled {
    opacity: 25%;
    color: gray;
    background-color: var(--guiLight);
    border-color: var(--oceanLight);
}

/* FONTS AND HEADLINES */
p {
    color: var(--guiLight);
    font-family: var(--fontSans);
}

h1 {
    color: var(--guiLight);
    font-family: var(--fontSerif);
    font-size: 8rem;
}

@media screen and (min-aspect-ratio: 13/9) {
    h1 {
        font-size: 4rem;
    }
}