#returningPlayerScreen {
    display: none;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
#returningPlayerScreen button {
    margin: auto;
    padding: 20px;
    width: 200px;
}