#welcomeScreen{
    margin: auto;
    text-align: center;
    flex-direction: column;
}

input{
    width: 50%;
    height: 10vh;
    padding: 20px;
    margin: auto;
    margin-bottom: 0;
}

button{
    width: 200px;
    padding: 20px;
    margin: auto;
}