#welcomeScreen {
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#welcomeScreen input {
    height: 10vh;
    margin: auto;
    margin-bottom: 0;
    padding: 20px;
    width: 50%;
}

#welcomeScreen button {
    margin: auto;
    padding: 20px;
    width: 200px;
}